#root {
  display: absolute;
}

.groupmania {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #fff;
}

.main-content {

  display: flex;
  align-content: center;
  flex-direction: column;
  margin: 0 auto;
  max-width: 800px;
  width: 90%;
  background-color: #fff;
  /* min-height: 65vh; */
}