button {
    margin: 4px 10px;
    padding: 8px 25px;
    max-height: 40px;
    border: none;
    border-radius: 2px;
    cursor: pointer;
}

button.like {
    color: black;
    background-color: rgba(82,132,234, 0.2) ;
}

button.like, button.read{
    color: black;
    background-color: rgba(82,132,234, 0.2) ;
}

button.liked {
    color: white;
    background-color: rgba(82,132,234) 
}

button.delete, button.edit, button.submit, button.disabled  {
    padding: 2px 6px;
    margin: 4px 5px 20px;
    font-size: 12px;
    background-color: white;
    color: rgba(253, 44, 44, 0.678);
    border: 2px solid rgba(253, 44, 44, 0.678);
    border-radius: 3px;
}

button.edit {
    border: 2px solid rgb(255, 159, 68);
    color: rgb(255, 159, 68);
}

button.submit {
    border: 2px solid rgb(93, 199, 67);
    color: rgb(93, 199, 67);
}

button.disabled, button.disabled:hover {
    border: 2px solid rgb(228, 228, 228);
    background-color: rgb(228, 228, 228);
    color: white
}

button.delete:hover, button.edit:hover, button.submit:hover {
    background-color: rgba(253, 44, 44, 0.678);
    color: white;
}
button.edit:hover {
    background-color: rgb(255, 159, 68);
}

button.submit:hover {
    background-color:rgb(93, 199, 67);
}

button.disabled:hover {
    cursor: not-allowed
}

button.header, button.login{
    color:white;
    background-color :rgb(34, 104, 253);
    align-self: center;
    margin-left: 5px;
}

.new-post__button, .new-comment__button {
    border: none;
    background-color: rgba(82,132,234, 0.2);
    width: 100%;
    margin: 0 auto;
}

button:hover {
    background-color: rgba(82,55,255, 0.6);
    color: white
}

