button {
    margin: 4px 10px;
    padding: 8px 25px;
    max-height: 40px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button.like {
    color: black;
    background-color: rgba(0,0,0,0.1);
}

button.liked {
    color: white;
    background-color: #5284ea;
}

button.header {
    color:white;
    background-color :rgba(255,255,255,0.1);
    align-self: center;
    
}
button:hover {
background-color: white;
color: black
}