nav {
    align-self: stretch;
    display: flex;
    position: fixed;
    left: 0;
    right: 0;
    justify-content: space-between;
    align-items: center;
    min-height: 5rem;
    background-color: #5284ea;
    padding: .1rem .4rem;
}

img#site-logo {
    display: block;
    height: 50px;
    margin-left: 20px;
}

@media (max-width: 580px) {
    nav {
        padding-top: 10px;
        flex-direction: column;
        padding: 15px 0;
        gap: 10px;
    }

    .button-container {
        width: 100%;
        flex-direction: row;
        gap: 5vw
    }

    a,
    img#site-logo {
        margin: 0 auto;
    }
}

#site-logo {
    display: block;
    height: 30px;
    align-self: center;
}