.new-post-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 30px 0 40px;
    padding: 0 10px 15px;
    border-radius: 15px;
    background-color: #ddd;
    width: 100%;
}

form.post-body {
    display: flex;
    flex-direction: column;
    gap: 1px;
    min-width: 100%;
}

.new-post-input {
    min-width: 100%;
    border: none;
    border-radius: 2px;
    font-family: sans-serif;
    font-size: 16px;
    text-indent: 5px;
}

textarea.new-post-input {
    min-height: 80px;
}

form.post-body>* {
    margin: 0
}

.post__media {
    width: 100%
}

@media (max-width: 580px) {

    .new-post-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 30px 0 10px;
        padding: 0 10px 15px;
        border-radius: 15px;
    }

    .new-post-wrapper>h3 {
        font-size: 18px;
        text-align: center;
        padding: 5px
    }
}