.post {
    display: flex;
    flex-direction: column;
    border-radius: 5px;    
}

.post-section {
    padding: 20px;
    margin: 5px 0;
    background-color: #eee;
    border: 1px solid #aaa;
}

.post__details {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: flex-start;
    gap: 10px;
    height: 60px;
    border: 1px solid #aaa;
    border-radius: 15px;    
    cursor: pointer;
}

.post__user-picture img{
display: block;
max-height: 100%;
overflow: hidden;
}

.post__media img {
    display: block;
    max-height: 100%;
    max-width: 100%;
    margin: 10px auto;
    border: 2px solid #aaa;
    border-radius: 10px;
}

.like-bar {
    background-color: #eee;
    margin-bottom: 10px;
    /* padding: 5px; */

}

