.post-wrapper {
  margin: 10px 0 30px;
  background-color: #ddd;
  padding: 20px 10px 15px;
  border-radius: 15px;
  width: 100%
}

.post-wrapper--unread {
  border: solid 2px #db0b0b;
}

.post {
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  margin: 5px 0 0;
}

.post-section {
  padding: 20px 20px 10px;
  background-color: #eee;
  border: none;
}

.post-details {
  display: flex;
  flex-direction: row;
  align-content: flex-start;
  justify-content: flex-start;
  gap: 10px;
  min-height: 60px;
  border: 1px solid #aaa;
  border-radius: 15px;
  overflow: hidden;
}

.post-details__user-picture {
  height: 100%;
}

.post-details__title {
  font-size: 20px;
  margin-right: 80px;
}

.post-details__user-name {
  font-size: 12px;
  margin-bottom: 5px;
}

.post-details-dates {
  font-size: 10px;
}

.post__media img {
  display: block;
  max-height: 100%;
  max-width: 100%;
  margin: 10px auto;
  border: 2px solid #aaa;
  border-radius: 10px;
}

.post__content {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 14px;
}

@media (max-width: 412px) {
  .post {
    font-size: 14px;
  }
}