.user-profile-wrapper {
    margin: 20px 5px;
}

.user-details {
    border: 2px solid #ddd;
    border-radius: 15px;
    overflow: hidden;
}

.user-details-main {
    display: flex;
    align-items: center;
    background-color: #ddd;
    border: 2px solid #ddd;
    border-radius: 0px;
    overflow: hidden;
}

.user-details-main__picture {
    margin: 10px;
    display: flex;
}

.user-details-main__name {
    margin-left: 30px;
    font-size: 22px;
}

.user-info {
    background-color: #fff;
    margin: 20px 0 40px 80px;
}



.user-posts {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px auto;
    background-color: #eee;
    border-radius: 5px;
    padding: 10px 0 20px 0;
}

.user-posts>.post-wrapper {
    width: 95%
}

@media (max-width: 580px) {
    .user-info {
        width: 80%;
        margin: 40px auto
    }

    .user-posts>.post-wrapper {
        width: 85%
    }

    .profile-buttons {
        margin-bottom: 15px;
    }

}

.posts-heading {
    margin-left: 20px;
}

.user-posts>.post-wrapper {
    margin: 5px 5px;
}